@import './base.css';
@import 'tailwindcss';
/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */


/* @media (hover: hover) {
  a:hover {
    background-color: hsla(120, 1%, 27%, 0.2);
  }
} */

@media (min-width: 1024px) {
  /* body {
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
